* {
  margin: 0;
  padding: 0;
  transition: 0.5s all;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1b262c;
  overflow-x: hidden;
  min-height: 100vh;
}

.bg-cirlce {
  position: absolute;
  width: 415px;
  height: 415px;
  flex-shrink: 0;
  border-radius: 415px;
  opacity: 0.1;
  background: #bbe1fa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 1568.7px 0px #bbe1fa,
    0px 0px 896.4px 0px #bbe1fa, 0px 0px 522.9px 0px #bbe1fa,
    0px 0px 261.45px 0px #bbe1fa, 0px 0px 74.7px 0px #bbe1fa;
  filter: blur(50px);
  z-index: -1;
}

.bg-cirlce:nth-child(1) {
  left: 0;
}

.bg-cirlce:nth-child(2) {
  right: 0;
  bottom: 0;
}

/* HOME */

header {
  margin-top: 50px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

li > a,
.social > a {
  position: relative;
  text-decoration: none;
  color: white;
  font-family: "Nunito Sans";
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(11, 33, 53, 0.25);
}

li::after,
.social > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #3282b8;
  height: 1px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

li:hover::after,
.social > a:hover::after {
  width: 100%;
}

li:hover,
.social > a:hover {
  transform: scale(1.1);
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 50px;
}

main > .hero {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(1.25)'%3E%3Cpath data-color='outline' fill='none' stroke='%23FFFFFF10' stroke-width='1.57' d='M50 0v100M100 50H0'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.8rem;
  margin-top: 5rem;
}

main > .hero > h1,
h2,
h3 {
  font-family: "Lexend Giga";
  color: white;
  font-weight: 400;
  text-wrap: nowrap;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main > .hero > h1 {
  position: relative;
  font-size: 40px;
  overflow: hidden;
  width: auto;
  animation: writeAnim 0.5s ease-in-out;
}

main > h2 {
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.businessMan {
  width: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.businessMan > img {
  position: relative;
  animation: businessmanAnim 1s ease-in-out;
}

.businessMan > .line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
}

.textColor {
  background: linear-gradient(90deg, #fff 0%, #64a3d0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons > button {
  border: none;
  background-color: #3282b8;
  color: white;
  font-family: "Nunito Sans";
  width: 110px;
  height: 36px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 20.5px 0px rgba(0, 0, 13, 0.55) inset;
}

.buttons > button:last-child {
  background-color: transparent;
  border: 1px solid #3282b8;
  box-shadow: none;
}

.buttons > button:hover:first-child {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.buttons > button:hover:last-child {
  transform: scale(1.1);
  border: none;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 20.5px 0px rgba(0, 0, 13, 0.55) inset;
}

.codeLine {
  animation: pulse 1s infinite ease-in-out;
}

.social {
  display: flex;
  gap: 20px;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  gap: 3rem;
  animation: fadeIn 1s ease-in-out;
}

.fancyText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fancyText > h3 {
  color: #e4f9ff;
  font-size: 16px;
}

.fancyText > .fancyLine {
  width: 100px;
  height: 1px;
  background: linear-gradient(90deg, #3282b8 0%, #fff 100%);
}

.fancyText > .fancyLine:last-child {
  background: linear-gradient(90deg, #d9d9d9 0%, #3282b8 100%);
}

.languages {
  display: flex;
  align-items: center;
}

.languages > .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3282b8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25) inset;
}

.languages > .line {
  width: 36px;
  height: 1px;
  background: linear-gradient(90deg, #fff 0%, #717171 100%);
}

.frontEnd,
.backEnd,
.databases {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.upText {
  display: flex;
  gap: 0.5rem;
  font-family: "Nunito Sans";
  background: linear-gradient(90deg, #fff 0%, #e4f9ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 2rem;
}

footer {
  margin-top: auto;
  color: #e4f9ff;
  font-family: "Nunito Sans";
  align-self: center;
  padding: 1rem;
}

/* ABOUT */

.aboutUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  gap: 0.8rem;
  animation: fadeIn 1s ease-in-out;
}

.aboutUp > img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}

.aboutUp > .fancyText > .fancyLine {
  width: 50px;
}

.aboutUp > h3 {
  font-size: 16px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  animation: fadeIn 1s ease-in-out;
}

.text > h3 {
  padding: 2rem;
}

.textContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.textContainer::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  height: 1px;
  background-color: #3282b8;
  transition: width 0.5s ease-in-out;
}

.textContainer:hover {
  transform: scale(1.2);
}

.textContainer:hover::after {
  width: 50%;
}

.textContainer > h3 {
  font-family: "Nunito Sans";
  color: #d4d4d4;
  text-wrap: wrap;
  width: 540px;
  font-size: 16px;
  text-align: left;
}

.bold {
  color: #fff;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.romania {
  background: linear-gradient(
    90deg,
    #0051ff 20%,
    #ffe100 40.2%,
    #ff5353 80.08%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@keyframes businessmanAnim {
  from {
    top: 180px;
  }
  to {
    top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes writeAnim {
  0% {
    width: 0;
  }
  20% {
    width: 59px;
  }
  40% {
    width: 118px;
  }
  60% {
    width: 177px;
  }
  80% {
    width: 236px;
  }
  100% {
    width: 295px;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  header {
    justify-content: flex-end;
  }

  li {
    margin-right: 2rem;
  }

  .technologies {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (min-width: 390px) and (max-width: 680px) {
  .logo {
    margin-left: 30px;
    height: 70px;
  }
}

@media (max-width: 500px) {
  .bg-cirlce {
    height: 10%;
    width: 10%;
  }

  li {
    margin-right: 1rem;
  }

  li > a {
    font-size: 14px;
  }

  .languages > .line {
    width: 10px;
  }

  .fancyText > .fancyLine {
    width: 50px;
  }

  .hero > h1,
  h2 {
    font-size: 100%;
  }
}

@media (max-width: 389px) {
  .logo {
    margin: 0;
    height: 50px;
  }

  li {
    margin: 0;
  }

  li:last-child {
    margin-right: 1rem;
  }
}

@media (max-width: 760px) {
  .aboutUp > h3 {
    font-size: 2vh;
    text-wrap: wrap;
    text-align: center;
  }

  .textContainer {
    justify-content: center;
  }
  .textContainer > h3 {
    font-size: 100%;
    text-align: center;
    width: 50%;
  }

  .text > h3 {
    font-size: 2vh;
    text-wrap: wrap;
    text-align: center;
  }

  .textContainer:hover::after {
    width: 20%;
  }
}
